.fixesSection {
  margin-top: 80px;
  padding: 80px 54px;
  background-color: #000;
}

.titleGroup {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 6px;
}

@media (max-width: 768px) {
  .fixesSection {
    margin-top: 40px;
    padding: 40px 24px;
  }
}
