.mt80{
    margin-top: 80px;
}
.bigtitle{
    font-family: 'Inter';
    font-size: clamp(28px,4vw,50px);
    line-height: 1.3rem;
}
.smallTitle{
    font-family: 'Italiana';
    font-size: clamp(28px,4vw,50px);
    line-height: 1.3rem;
}
@media screen and (max-width:728px) {
    .mt80{
        margin-top: 40px;
    }
}