.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto);    /* 2 rows */
  padding: 40px 0;
  max-width: 1440px;
  margin: 0 auto;
  backdrop-filter: blur(2px);
}

.gridBox {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  border: 1px solid #FFFFFF33;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridBox:hover{
    background-color: #fff;
}


/* When the box is clicked (Active State) */
.active {
  transform: scale(1.1); /* Grows the box */
  z-index: 10; /* Ensures it grows on top of others */
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.gridImage{
  height: 100%;
  width: 100%;
}
.active .gridImage {
    width: 35%;
  height: 35%;
  object-fit: contain;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
@media screen and (max-width:768px) {
  .gridContainer{
    /* Show only 1 pic at a time in the container */
    /* grid-template-columns: 1fr;   */

    /* To shwo the 2 pic at atime on the screen */
    grid-template-columns: repeat(2,1fr);
    backdrop-filter: blur(2px);
  }
}