.legacy{
    margin-top: 80px;
}
.bigtitle{
    font-family: 'Inter';
    font-size:clamp(28px,4vw,50px);
    font-weight: 500;

}
.smallTitle{
    font-family: 'Italiana';
    font-size:clamp(28px,4vw,50px);
    font-weight: 400;
}
p{
    font-family: 'Inter';
    font-size: 20px;
}
@media screen and (max-width:40px) {
    .legacy{
        margin-top: 40px;
    }
}