.legacy{
    margin-top: 80px;
}
.bigtitle{
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 500;
}
.smallTitle{
    font-family: 'Italiana';
        font-size: 50px;
    font-weight: 400;
}
p{
    font-family: 'Inter';
    font-size: 20px;
}