.impact{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.impact h2{
    font-family: 'Inter';
    font-size: clamp(30px,4vw,64px);
    line-height: 1.3em;
    font-weight: 400;
    align-self: center;
}
@media screen and (max-width:768px) {
    .impact h2{
        text-align: center;
    }
    .impact{
        margin-top: 40px;
    }
}