.accordionContainer {
    font-family: 'Inter';
    background: transparent;
    color: white;
}

.partnerInner {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 54px;
}

.customItem {
    background: transparent;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3); 
    padding: 0 0 20px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-self: center;
    transition: all 01s ease-in-out;
}

/* Container for the Question and Arrow */
.headerWrapper {
    display: flex;
    align-items: baseline;
    gap: 20px;
    transition: transform 1s ease;
}


/* The Arrow Circle */
.arrowCircle {
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 24px;
    transition: all 0.3s ease;
}

.questionText {
    font-family: 'Inter', serif;
    font-size: clamp(16px,4vw,40px);
    font-weight: 500;
    margin: 0;
    color: grey;
}

/* Hidden Answer Section */
.customBody {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    width: 75%;
    transition: max-height .6s ease, opacity 0.4s ease;
}

.customBody p {
    font-size:clamp(14px,4vw,20px);
    font-family: 'Inter';
    margin: 0;
    line-height: 1.5rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

/* --- HOVER STATES --- */

.customItem:hover {
    border-bottom: 1px solid white; 
    transition: 1s ease;
}

.customItem:hover .questionText {
    color: #fff;
}

.customItem:hover .arrowCircle {
    border-color: white;
    color: black;
    transform: rotate(90deg);
    background-color: #fff;
}

.customItem:hover .customBody {
    max-height: 500px;
    opacity: 1;
}

.staticImage {
    border-radius: 4px;
    display: block;
}

@media screen and (max-width:768px) {
    .partnerInner {
        max-width: 100%;
        padding: 24px;
    }

    .arrowCircle {
        display: none;
    }

    .customBody {
        max-height: 0;
        opacity: 0;
        width: 100%;
        padding: 0;
        margin-top: 10px;
        transition: max-height 0.6s ease, opacity 0.4s ease;
    }

    .questionText {
        font-size: 16px;
    }

    .customItem:hover .questionText {
        transform: none;
    }
}
