.wrapper {
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.timelineContainer {
  position: relative;
  margin: 0 auto;
}

.lineTrack {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 96%;
  background-color: black;
  z-index: 1;
  border: 1px solid white;
  border-radius: 14px;
  padding: 2px;
  margin-top: 1%;
}

.lineFill {
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: top;
  border-radius: 16px;
}

.timelineRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}

.card {
  width: calc(50% - 40px);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.imageCard {
  padding: 0;
}

.textPadding {
  padding: 25px;
}

.textPadding h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3em;
  font-family: 'Inter', serif;
  font-display: swap;
  margin: 0;
}

.textPadding p {
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  font-family: 'Inter', serif;
  font-size: 16px;
  font-weight: 400;
  font-display: swap;
}

.timeMeta {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}

.timeIconWrap img {
  display: block;
}

.startingYear {
  margin: 0;
}

.weekdays {
  margin: 0;
}

.cardImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 40px 0 0;
    margin-top: 40px;
  }

  .lineTrack {
    left: 24px;
    transform: none;
    height: 96%;
  }

  .timelineRow {
    flex-direction: column;
    padding-left: 50px;
    gap: 20px;
    margin-bottom: 32px;
  }

  .timelineRow:nth-child(2) .leftSide {
    order: 1;
  }

  .timelineRow:nth-child(2) .rightSide {
    order: 0;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  .cardImg {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .textPadding h3 {
    font-size: 20px;
    line-height: 1.3em;
  }
}
