.cards{
    margin-top: 80px;
    justify-content: center;
}
.visionInner{
    max-width: 1440px;
    padding: 0 54px;
}
@media screen and (max-width:768px) {
    .visionInner {
        width: 100%;
        max-width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .cards{
        margin-top: 0;
        width: 100%;
    }
}
