body {
  margin: 0;
  background-color: #17181B !important;
  color: #fff !important;
}


@font-face {
  font-family: 'Italiana';
  /* Check your path carefully! */
  src: url('./assets/fonts/Italiana-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Keeps text visible while loading */
}



@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Inter';
}

body {
  font-family: 'Inter';
  margin: 0;
  -webkit-font-smoothing: antialiased;
}